# .gitignore file for python projects
config.json
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw

/include/
/lib/
/bin/
/build/
/dist/
/Testing/
/venv/
/.vscode/
/.idea/
/.pytest_cache/
/.mypy_cache/
/etc/
/~
/share

/GeneratePersons/

app.py
main.py
brosMain.py
brosMainTushar.py

*.pkl

.env
improvedCode.py

.DS_Store